<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern> -->
            <pattern>%d{HH:mm:ss} %lo{0} %-1level - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root> -->

    <logger name="scala.slick" level="INFO" />
    <logger name="org.fusesource.scalate" level="ERROR" />

    <logger name="de.tu_dresden.epistemic_rewriter" level="DEBUG" >
        <appender-ref ref="STDOUT" />
    </logger>
    


</configuration>

